{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>代币比例</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">日期</th>
                <th class="text-center">元/滴</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$config}
            <tr>
                <td class="text-center" style="vertical-align: middle; ">{$key+1}</td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="date"  style="text-align: center" id="_date{$config['id']}" class="form-control" value="{$config['date']}"></td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text" id="_ratio{$config['id']}" style="text-align: center" class="form-control"
                           value="{$config['ratio']}">
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <a onclick="updateConfig(this)" data-id="{$config['id']}" data-date="{$config['date']}" data-ratio="{$config['ratio']}" class="btn btn-xs btn-primary">确认修改</a>
                </td>
            </tr>
            {/foreach}
            <tr>
                <td class="text-center" style="vertical-align: middle; "></td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="date"  style="text-align: center" id="date" class="form-control" value=""></td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text"  style="text-align: center" id='ratio' class="form-control" value="">
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <a onclick="addConfig(this)" class="btn btn-xs btn-primary">确认添加</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</section>
{/block}

{block name="footer"}

<script>
    function addConfig(e) {
        var date = $('#date').val();
        var ratio = $('#ratio').val();

        $.post("{:url('wallet/ratioadd')}", {date: date,ratio: ratio}, function (data) {
            if (data.code == 1) {
                main.waringAlert(data.message);
            } else {
                main.waringAlert(data.message);
                window.location.reload();
            }
        }, 'json')
    }
    function updateConfig(e) {
        var id = $(e).attr('data-id');

        var date1 = $(e).attr('data-date');
        var date = $('#_date' +id).val();
        var ratio1 = $(e).attr('data-ratio');
        var ratio = $('#_ratio' +id).val();
        $.post("{:url('wallet/ratioupd')}", {id: id, date: date , ratio:ratio}, function (data) {
            if (data.code == 1) {
                main.waringAlert(data.message);
            } else {
                main.waringAlert(data.message);
                window.location.reload();
            }
        }, 'json')
    }
</script>
{/block}